a {
    color: black;
    text-decoration: none;
}

.votearrow {
    width: 10px;
    height: 10px;
    border: 0px;
    margin: 3px 2px 6px;
    padding: 0 6px;
    cursor: pointer;
    background: url(https://news.ycombinator.com/grayarrow.gif);
}

.subtext {
    font-family: 'Open Sans', sans-serif;
    font-size: 7pt;
}
.subtext a:hover {
    text-decoration: underline;
}

.title_link {
	font-family: 'Open Sans', sans-serif;
	font-size: 9pt;
	color: #828282;
}

.description {
	font-family: 'Inconsolata', sans-serif;
	font-size: 11pt;
}

.userName {
	font-family: 'Open Sans', sans-serif;
	font-size: 8pt;
	color: #828282;
}

.comment {
	font-size: 11pt;
}

.replyButton {
	background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    color: #828282;
    font-size: 8pt;
    cursor: pointer;
}
.replyButton:hover {
    text-decoration: underline;
}

.replyName {
    font-size: 11pt;
}
.replyNameTime {
    font-size: 10pt;
    color: #828282;
}
.reply {
    font-size: 10pt;
}